[submodule "external/diffusion_policy"]
	path = external/diffusion_policy
	url = git@github.com:real-stanford/diffusion_policy.git
[submodule "external/lelan"]
	path = external/lelan
	url = git@github.com:yjy0625/mobipi-lelan.git
[submodule "external/robocasa"]
	path = external/robocasa
	url = git@github.com:yjy0625/mobipi-robocasa.git
[submodule "external/mimicgen"]
	path = external/mimicgen
    url = git@github.com:yjy0625/mobipi-mimicgen.git
    branch = mobipi
[submodule "external/robomimic"]
	path = external/robomimic
	url = git@github.com:moyucrazy12/mobipi-robomimic.git
    branch = robocasa
