*.egg-info
**/.ipynb_checkpoints
**/sbatch_logs
**/__pycache__/

**/*.sh
!assets/robosuite/install_rby1.sh
**/*.pdf
**/MUJOCO_LOG.TXT

logs/
ckpts/
data/
scene_data/
mobipi/macros_private.py
!install.sh

.vscode/
